@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

/* variables */
:root{
    --bg-black-900: #000000;
    --bg-black-100: #dddddd;
    --bg-black-50: #eff0f4;
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #666666;
    --text-black-300: #bbbbbb;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

/* Global styles */
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    /* font-family: 'Raleway', sans-serif; */
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--bg-black-50);
}

*:not(i){
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

::before, ::after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    vertical-align: center;
    max-width: 100%;
}

.container{
    max-width: 1140px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.outer-shadow{
    box-shadow: var(--outer-shadow);
}

.inner-shadow{
    box-shadow: var(--inner-shadow);
}

.hover-in-shadow{
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover{
        box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}


.hover-in-shadow:hover:after{
    box-shadow: var(--inner-shadow);
}

.btn-1{
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--skin-color);
    background-color: transparent;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: inline-block;
}

.btn-1::after{
    border-radius: 30px;
}

.effect-wrap .effect{
    position: absolute;
    z-index: -1;
}

.effect-1{
    width: 30px;
    height: 30px;
    border: 4px solid #8a49ff;
    right: 10%;
    bottom: 10%;
    animation: spin 10s linear infinite;
}


.effect-3{
    height: 180px;
    width: 180px;
    border: 25px solid var(--skin-color);
    border-radius: 50%;
    left: 50%;
    top: -120px;
    animation: leftBounce 3s ease-in-out infinite;
}

.section-title{
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2{
    display: inline-block;
    font-size: 1.875rem;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: uppercase;
    margin: 0;
}

.section-title h2::before{
    content: attr(data-heading);
    display: block;
    font-size: 1rem;
    font-weight: 600;
    color: var(--skin-color);
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes leftBounce{
    0%,100%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(25px);
    }
}

@keyframes fadeInTop{
    0%{
        opacity: 0;
        transform: translateY(-25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/* header */
.header{
    padding: 20px 15px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.header .logo a{
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    font-size: 35px;
    color: var(--skin-color);
    border-radius: 50%;
    border: 2px solid var(--skin-color);
    font-weight: 600;
    text-transform: uppercase;
}

.header .hamburger-btn{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* border-radius: 50%; */
    transition: all 0.3s ease;
}

.header .hamburger-btn span{
    display: block;
    height: 2px;
    width: 16px;
    background-color: var(--bg-black-900);
    position: relative;
}

.header .hamburger-btn span::before,
.header .hamburger-btn span::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black-900);
}

.header .hamburger-btn span::before{
    top: -6px;
}

.header .hamburger-btn span::after{
    top: 6px;
}

.nav-menu .close-nav-menu{
    height: 40px;
    width: 40px;
    display: block;
    line-height: 36px;
    font-size: 35px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    text-align: center;
    color: var(--text-black-600);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.nav-menu .close-nav-menu::after{
    border-radius: 50%;
}

/* navigation manu */
.nav-menu{
    position: fixed;
    background-color: var(--bg-black-50);
    padding: 0 15px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
}

.nav-menu-inner{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu ul{
    padding: 15px;
}

.nav-menu ul li{
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.nav-menu ul li:last-child{
    margin-bottom: 0;
}

.nav-menu a{
    display: inline-block;
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--text-black-700);
    padding: 5px 30px;
    text-transform: capitalize;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.nav-menu a.active{
    color: var(--skin-color);
}

.nav-menu a::after{
    border-radius: 30px;
}

.nav-menu .copyright-text{
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 1rem;
    color: var(--text-black-600);
    transform: translateY(-50%) rotate(-90deg);
    left: -60px;
}

/* home section */
.home-section{
    position: relative;
}

.home-section .full-screen{
    align-items: center;
    padding: 50px 0;
    min-height: 100vh;
}

.home-text p, .home-text h1, .home-text h2{
    margin: 0;
}


.home-text p{
    color: var(--text-black-300);
    font-size: 2rem;
    text-transform: capitalize;
}

.home-text h1{
    font-size: 3.4375rem;
    font-weight: 700;
    color: var(--text-black-900);
}

.home-text h2{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-black-700);
    text-transform: capitalize;
}

.home-text .btn-1{
    margin-top: 30px;
}

.home-text, .home-img{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}

.home-img .img-box{
    max-width: 28.125rem;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 15px;
}

.img-box img{
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent;
}

/* About section */
.about-section{
    padding: 80px 0 80px;
    min-height: 100vh;
}

.about-img{
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 15px;
}

.about-img .img-box{
    padding: 15px;
    border-radius: 5px;
}

.about-img .img-box img{
    width: 100%;
    border: 10px solid transparent;
    border-radius: 5px;
}

.about-section .social-links{
    margin-top: 20px;
    text-align: center;
}

.social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    font-size: 1rem;
    text-align: center;
    color: var(--text-black-600);
    margin: 0 4px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.social-links a::after{
    border-radius: 50%;
}

.social-links a:hover{
    color: var(--skin-color);
}

.social-links i{
    line-height: 40px;
}

.about-info{
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
}

.about-info p{
    font-size: 1rem;
    line-height: 1.625rem;
    margin-bottom: 15px;
    color: var(--text-black-600);
}

.about-info span{
    font-weight: 600;
}

.about-info .btn-1{
    margin: 30px 20px 0 0;
}

.about-tabs{
    padding: 60px 15px 50px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}

.about-tabs .tab-item{
    display: inline-block;
    margin: 0 5px 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-size: 1rem;
    color: var(--text-black-600);
    font-weight: 500;
    text-transform: capitalize;
}

.about-tabs .tab-item:hover:not(.active){
    opacity: 0.6;
}

.about-tabs .tab-item.active{
    color: var(--skin-color);
}

.about-section .tab-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: none;
}

.about-section .tab-content.active{
    display: block;
    animation: fadeInTop 0.5s ease;
}

.about-section .skills{
    flex: 0 0 100%;
    max-width: 100%;
}

.about-section .skill-item{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}

.about-section .education,
.about-section .experience{
    padding-bottom: 0 0 80px;
}


.about-section .timeline{
    flex: 0 0 100%;
    max-width: 100%;
}

.about-section .timeline::before{
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--bg-black-100);
    left: 50%;
    /* top: 0; */
}

.about-section .timeline-item{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}

.about-section .timeline-item:nth-child(odd){
    padding-right: calc(50% + 50px);
    text-align: right;
}

.about-section .timeline-item:nth-child(even){
    padding-left: calc(50% + 50px);
}

.about-section .timeline-item-inner{
    padding: 30px;
    border-radius: 5px;
    position: relative;
}

.about-section .timeline-item-inner::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: var(--bg-black-100);
    top: 37px;
    z-index: -1;
}

.timeline-item:nth-child(odd) .timeline-item-inner::before{
    right: -30px;
}

.timeline-item:nth-child(even) .timeline-item-inner::before{
    left: -30px;

}

.about-section .timeline-item-inner .icon{
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 18px;
    border: 1px solid var(--bg-black-100);
    border-radius: 50%;
    font-size: 1rem;
    color: var(--skin-color);
}

.about-section .timeline-item:nth-child(odd) .icon{
    right: -70px;
}

.about-section .timeline-item:nth-child(even) .icon{
    left: -70px;
}

.timeline-item-inner span{
    font-weight: 500;
    color: var(--skin-color);
    display: block;
    margin: 0 0 10px;
    text-transform: capitalize;
}

.timeline-item-inner h3{
    font-size: 1.25rem;
    color: var(--text-black-700);
    font-weight: 600;
    margin: 0 0 5px;
    text-transform: capitalize;
}

.timeline-item-inner h4{
    font-size: 1rem;
    font-style: italic;
    color: var(--text-black-600);
    margin: 0;
}

.timeline-item-inner p{
    font-size: 1rem;
    color: var(--text-black-600);
    line-height: 1.635rem;
    margin: 10px 0 0;
}

